# User Configuration (Secrets)
config.json

# Build Artifacts
dist/
build/
installer/
AppDir/
*.spec
*.AppImage
appimagetool*

# Python
__pycache__/
*.py[cod]
*.so

# IDEs
.vscode/
.idea/
.DS_Store

# Virtual Environments
venv/
env/
